  
    <footer class="footer mt-auto py-3 bg-light footer-data">
      <div class="container">
        <span class="text-muted">All copyrights to AAA</span>
      </div>
      
    </footer>
  </body>

  </html>